.nodes > p, .nodes > h3{
    margin: 0px 5px;
}

.nodes{
    border-radius: 5px;
    background-color: var(--main-color);
    opacity: 0.85;
}

.nodes:hover{
    background-color: var(--hover-main-color) !important;
    cursor: pointer;
}

.cluster_nodes{
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.rect{
    width: 12px;
    height: 12px;
    border-radius: 2px;
}

#rect1{
    background-color: var(--low-cpu-usage);
}

#rect2{
    background-color: var(--medium-cpu-usage);
}

#rect3{
    background-color: var(--high-cpu-usage);
}

#node_legend{
    display: block ruby;
    margin-top: 10px;
    margin-bottom: 10px;
}

#node_legend > div > p, #node_legend > p{
    margin: 0px;
}

.legend_el{
    margin: 0px 10px;
    display: block ruby;
}