.nodes > p, .nodes > div > h3{
    margin: 0px 5px;
}

.nodes{
    border-radius: 5px;
    background-color: var(--main-color);
    opacity: 0.85;
}

.nodes:hover{
    background-color: var(--hover-main-color) !important;
    cursor: pointer;
}

.cluster_nodes{
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.rect{
    width: 12px;
    height: 12px;
    border-radius: 2px;
    margin-top: 7px;
    margin-right: 5px;
}

#rect1{
    background-color: var(--low-cpu-usage);
}

#rect2{
    background-color: var(--medium-cpu-usage);
}

#rect3{
    background-color: var(--high-cpu-usage);
}

#node_legend{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

#node_legend > div > p, #node_legend > p{
    margin-bottom: 0px;
}

.legend_el{
    margin: 0px 10px;
    display: flex;
}

#detailed_info{
    display: flex;
}

#uptime{
    margin-bottom: 10px;
}

#detailed_overview > div > p, #detailed_overview > p{
    margin: 0px;
}

#detailed_overview{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 10px;
}
.total_mem{
    border-bottom: 1px solid;
    overflow: hidden;
    float: right;
}

.detailed_value{
    float: right;
}

.node_title{
    display: flex;
}

.check_mark{
    transform: scale(1.5);
    margin-left: auto;
    margin-bottom: 0px;
    margin-right: 5px;
    height: 30px;
}

#check_mark_legend{
    transform: scale(1.5);
    margin-right: 5px;
    margin-bottom: 0px;
    padding-bottom: 8px;
}