#console_msg > div > p {
    margin: 0px;
}

#console_msg{
    overflow: auto;
    height: 550px;
    margin-bottom: 75px;
    border: black solid 1px;
    border-radius: 15px;
}

.log_entry{
    margin: 10px 5px;
}

.log_entry > p{
    white-space: break-spaces;
}