@import "./phoenix.css";

#containerWorker{
  height: auto;
}

#componentGraph{
  height: 300px;
  width: 100%;
}

#workerGraph{
  width: inherit;
  height: 800px;
}

#containerComponent{
  height: 370px;
}

#containerGraphWorker{
  width: auto;
}

.outerContainer {
    display: flex;
  }

.canvasContainer {
    flex-grow: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }

#title_nodes{
  border-bottom: 1px solid black;
  display: inline-block;
  margin-bottom: 10px;
}

#nodes_hover > div > p{
  margin-bottom: 0;
  margin: auto;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
}

#nodes_hover_names{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#nodes_hover > div > p:hover{
  border: 1px solid rgba(0, 0, 0, .2);
  cursor: pointer;
}

#workflow_title{
  display: flex;
}

#reset_button{
  margin-left: auto;
  order: 2;
}

#title_worker, #checkbox{
  display: flex;
}

#checkbox > p{
  margin-bottom: 0px;
  margin-top: 9px;
}

#checkbox{
  margin-left: auto;
  order: 2;
  display: block;
  white-space: nowrap;
}
#checkbox input {
  vertical-align: middle;
  margin: 0px;
  margin-right: 5px;
}
#checkbox label span {
  vertical-align: middle;
}

#selected_component_strategy > p{
  margin-bottom: 0px;
}

.checkbox_element > p{
  margin-bottom: 0px;
}
