@import "./phoenix.css";

#containerWorker{
  height: 870px;
}

#componentGraph{
  height: 300px;
  width: 100%;
}

#workerGraph{
  width: inherit;
  height: 800px;
}

#containerComponent{
  height: 370px;
}

#containerGraphWorker{
  width: auto;
  flex: 0 0 80%;
}

.outerContainer {
    display: flex;
  }

.canvasContainer {
    flex-grow: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }

#worker_info{
  display: flex;
}

#nodes_hover{
  flex: 0 0 20%;
}

#title_nodes{
  border-bottom: 1px solid black;
}

#nodes_hover > p{
  margin-bottom: 0;
}

#nodes_hover > p:hover{
  border: 1px solid rgba(0, 0, 0, .2);
  cursor: pointer;
  border-radius: 5px;
}

#workflow_title{
  display: flex;
}

#reset_button{
  margin-left: auto;
  order: 2;
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: black;
}

#reset_button:hover{
  background-color: var(--hover-main-color);
  border-color: var(--hover-main-color);
}

#title_worker, #checkbox{
  display: flex;
}

#checkbox > p{
  margin-bottom: 0px;
  margin-top: 9px;
}

#checkbox{
  margin-left: auto;
  order: 2;
}

#selected_component_strategy > p{
  margin-bottom: 0px;
}